global
  maxconn 256

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  retries 3

frontend fe_http
  bind *:11050
  mode http
  default_backend be_http

frontend fe_grpc
  bind *:11051
  default_backend be_grpc

frontend fe_mysql
  bind *:11052
  default_backend be_mysql

frontend fe_postgres
  bind *:11053
  default_backend be_postgres

backend be_http
  mode http
  option httpchk GET /health
  server frontend 127.0.0.1:11040 check

backend be_grpc
  server frontend 127.0.0.1:11041 check

backend be_mysql
  server frontend 127.0.0.1:11042 check

backend be_postgres
  server frontend 127.0.0.1:11043 check
