global
  maxconn 256

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  retries 3

frontend fe_http
  bind *:8080
  mode http
  default_backend be_http

frontend fe_grpc
  bind *:9090
  default_backend be_grpc

frontend fe_mysql
  bind *:3307
  default_backend be_mysql

frontend fe_postgres
  bind *:5433
  default_backend be_postgres

backend be_http
  mode http
  option httpchk GET /health
  server frontend 127.0.0.1:5000 check

backend be_grpc
  server frontend 127.0.0.1:5001 check

backend be_mysql
  server frontend 127.0.0.1:5002 check

backend be_postgres
  server frontend 127.0.0.1:5003 check
